<!DOCTYPE <html>
<head>
  <title>Edit About Page</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <a href="posts-index.html"><li>Posts</li></a>
        <a href="about-index.html"><li>About</li></a>
        <a href="settings.html"><li>Settings</li></a>
      </ul>
    </div>
  </div>
  <div class="about-entries">
    <p id="about-back"><a href="#">Back</a></p>
    <h1>Edit Your About Page</h1>
    <form class="about-info">
      <label>Bio:</label>
      <br>
      <input type="textarea">
      <br>
      <label>Phone (optional):</label>
      <br>
      <input type="tel">
      <br>
      <label>Email (optional):</label>
      <br>
      <input type="email">
      <br>
      <input type="submit">
    </form>
  </div>
</body>
</html>