<!DOCTYPE <html>
<head>
  <title>About Index</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <a href="posts-index.html"><li>Posts</li></a>
        <a href="about-index.html"><li>About</li></a>
        <a href="settings.html"><li>Settings</li></a>
      </ul>
    </div>
  </div>
  <div class="about-menu">
    <h2 id="edit-about"><a href="about-edit.html">Edit About Page</a></h2>
    <h2 id="create-about"><a href="about-new.html">Create New About Page</a></h2>
  </div>
</body>
</html>