<!DOCTYPE <html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="login-header">
    <img src="images/michael_felz_pc.png" height="200" width="534">
  </div>
  <div class="login">
    <h1>Please Sign In</h1>
    <form id="login-form">
      <label>Email:</label>
      <br>
      <input type="text">
      <br>
      <label>Password:</label>
      <br>
      <input type="password">
    </form>
  </div>
</body>
</html>