<!DOCTYPE <html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <a href="posts-index.html"><li>Posts</li></a>
        <a href="about-index.html"><li>About</li></a>
        <a href="settings.html"><li>Settings</li></a>
      </ul>
    </div>
    <div class="password">
      <h1>Change Your Password</h1>
      <form id="password-form">
        <label>New Password:</label>
        <br>
        <input type="password">
        <br>
        <label>Password Confirmation:</label>
        <br>
        <input type="password">
      </form>
    </div>
  </div>
</body>
</html>