<!DOCTYPE <html>
<head>
  <title>New User</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="login-header">
    <img src="images/michael_felz_pc.png" height="200" width="534">
  </div>
  <div class="signup">
    <h1>New User</h1>
    <form id="signup-form">
      <label>Email:</label>
      <br>
      <input type="text">
      <br>
      <label>Password:</label>
      <br>
      <input type="password">
       <label>Password Confirmation:</label>
      <br>
      <input type="password">
      <br>
      <input type="submit">
    </form>
  </div>
</body>
</html>