<!DOCTYPE <html>
<head>
  <title>Blog Posts</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <a href="posts-index.html"><li>Posts</li></a>
        <a href="about-index.html"><li>About</li></a>
        <a href="settings.html"><li>Settings</li></a>
      </ul>
    </div>
  </div>
  <div class="posts-container">
    <h3 id="new-post"><a href="#">New Post<a/></h3>
    <div class="posts">
      <h1>Manage Your Blog Posts</h1>
      <table>
        <thead>
          <tr>
            <td>Date</td>
            <td>Post Title Goes Here...</td>
            <td>View</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
      </table>
    </div>
  </div>
</body>
</html>