<!DOCTYPE <html>
<head>
  <title>New Post</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <a href="posts-index.html"><li>Posts</li></a>
        <a href="about-index.html"><li>About</li></a>
        <a href="settings.html"><li>Settings</li></a>
      </ul>
    </div>
  </div>
  <div class="post-entries">
    <p id="post-back"><a href="#">Back</a></p>
    <h1>Create a New Post</h1>
    <label>Title:</label>
    <input type="text">
    <label>Date:</label>
    <input type="date">
    <br>
    <label>Content:</label>
    <br>
    <input type="textarea">
    <br>
    <label>Page Title:</label>
    <input type="text">
    <br>
    <label>Meta Description:</label>
    <input type="text">
    <br>
    <input type="submit">
  </div>
</body>
</html>