<!DOCTYPE <html>
<head>
  <title>Post Preview</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <a href="posts-index.html"><li>Posts</li></a>
        <a href="about-index.html"><li>About</li></a>
        <a href="settings.html"><li>Settings</li></a>
      </ul>
    </div>
  </div>
  <div class="post-view">
    <p id="go-back"><a href="#">Go back</a></p>
    <h1>Post Title Goes Here</h1>
    <h3>2/6/2015</h3>
    <p>Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.
    <br><br>
    Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.  Post content will go in this space.</p>
  </div>
</body>
</html>