<!DOCTYPE <html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="site-header">
    <div class="med-logo">
      <a href="index.html">
        <img src="images/michael_felz_pc_med.png" height="150" width="401">
      </a>
    </div>
    <div class="site-menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="blog.html"><li>Blog</li></a>
      </ul>
    </div>
  </div>
  <div class="blog-content">
    <div class="blog-article">
      <h2><a href="#">Blog Article Title Goes Here</a></h2>
      <h3>January 25, 2015</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum erat nunc, eleifend sed orci non, commodo mollis nunc. Integer lacinia turpis lectus, sed laoreet lacus tempus ac. Etiam fringilla purus id lacus ullamcorper ultricies. Proin iaculis sit amet sem convallis fringilla. Donec sed mi quis diam ultrices tincidunt sed sed turpis. Phasellus vel quam aliquam, semper mauris sit amet, lobortis ante. Vestibulum ut malesuada ex. Mauris consectetur odio ac mauris rutrum, sit amet imperdiet purus feugiat...</p>
      <h4><a href="">Read More...</a></h4>
    </div>
    <br>
    <hr>
    <div class="blog-article">
      <h2><a href="#">Blog Article Title Goes Here</a></h2>
      <h3>January 25, 2015</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum erat nunc, eleifend sed orci non, commodo mollis nunc. Integer lacinia turpis lectus, sed laoreet lacus tempus ac. Etiam fringilla purus id lacus ullamcorper ultricies. Proin iaculis sit amet sem convallis fringilla. Donec sed mi quis diam ultrices tincidunt sed sed turpis. Phasellus vel quam aliquam, semper mauris sit amet, lobortis ante. Vestibulum ut malesuada ex. Mauris consectetur odio ac mauris rutrum, sit amet imperdiet purus feugiat...</p>
      <h4><a href="">Read More...</a></h4>
    </div>
    <br>
    <hr>
    <div class="blog-article">
      <h2><a href="#">Blog Article Title Goes Here</a></h2>
      <h3>January 25, 2015</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum erat nunc, eleifend sed orci non, commodo mollis nunc. Integer lacinia turpis lectus, sed laoreet lacus tempus ac. Etiam fringilla purus id lacus ullamcorper ultricies. Proin iaculis sit amet sem convallis fringilla. Donec sed mi quis diam ultrices tincidunt sed sed turpis. Phasellus vel quam aliquam, semper mauris sit amet, lobortis ante. Vestibulum ut malesuada ex. Mauris consectetur odio ac mauris rutrum, sit amet imperdiet purus feugiat...</p>
      <h4><a href="">Read More...</a></h4>
    </div>
    <br>
  </div>
  <div class="footer">
    <p>Copyright 2015 &copy; Michael Felz PC</p>
  </div>
</body>
</html>