<!DOCTYPE <html>
<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="site-header">
    <div class="med-logo">
      <a href="index.html">
        <img src="images/michael_felz_pc_med.png" height="150" width="401">
      </a>
    </div>
    <div class="site-menu">
      <ul>
        <a href="index.html"><li>Home</li></a>
        <a href="about.html"><li>About</li></a>
        <a href="blog.html"><li>Blog</li></a>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="about">
      <h1>About Michael Felz</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum erat nunc, eleifend sed orci non, commodo mollis nunc. Integer lacinia turpis lectus, sed laoreet lacus tempus ac. Etiam fringilla purus id lacus ullamcorper ultricies. Proin iaculis sit amet sem convallis fringilla. Donec sed mi quis diam ultrices tincidunt sed sed turpis. Phasellus vel quam aliquam, semper mauris sit amet, lobortis ante. Vestibulum ut malesuada ex. Mauris consectetur odio ac mauris rutrum, sit amet imperdiet purus feugiat.</p>

      <p>Proin faucibus leo ipsum, non tempor odio pretium et. Aenean libero odio, ultricies vitae maximus a, sagittis quis enim. Donec porta ligula et mi faucibus, et dignissim neque laoreet. Suspendisse fermentum ligula non est interdum, eu efficitur lorem ornare. Proin dui enim, lobortis et efficitur in, interdum vitae ligula. Cras dapibus nisl non placerat vehicula. Etiam rhoncus massa massa. Cras porta lectus arcu. Donec viverra justo eget facilisis porttitor. Duis egestas imperdiet ultrices. Proin dictum feugiat molestie.</p>
      <h2>Contact Info</h2>
      <h3>Email: </h3><p class="contact-info">email@email.com</p>
      <br>
      <h3>Phone Number: </h3><p class="contact-info">555-555-5555</p>
    </div>
    <div class="about-image">
      <img src="images/jfelz.jpg" height="384" width="255">
    </div>
  </div>
  <div class="footer">
    <p>Copyright 2015 &copy; Michael Felz PC</p>
  </div>
</body>
</html>