<!DOCTYPE <html>
<head>
  <title>Michael Felz PC | Chicago CPA</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<!--   <div class="top-nav">
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Blog', blog_path %></li>
    </ul>
  </div> -->
  <div class="logo">
    <img src="assets/michael_felz_pc.png" height="200" width="534">
    <div class="hp-nav">
      <div class="hp-about">
        <%= link_to 'About', about_path %>
      </div>
      <div class="hp-blog">
        <%= link_to 'Blog', blog_path %>
      </div>
    </div>
  </div>
<!--   <div class="featured">
    <div class="headline">
      <h3>Some sort of headline that describes the website and its purpose will go here.</h3>
    </div>
    <div class="important-articles">
      <h1>Featured Content</h1>
      <h2><a href="#">Title of Featured Post Will Go Here</a><h2>
      <h2><a href="#">Title of Featured Post Will Go Here</a><h2>
      <h2><a href="#">Title of Featured Post Will Go Here</a><h2>
    </div>
  </div>
  <div class="recent">
    <h2>Recent Posts</h2>
    <div class="recent-post">
      <h2><a href="#">Post Title Goes Here</a></h2>
      <p>A preview of the post will go here, and will eventually be cut off.  It will run for several lines and it will automatically concatenate at the end.  You will be able to click on the title or a 'view more' button to read further.</p>
    </div>
    <div class="recent-post">
      <h2><a href="#">Post Title Goes Here</a></h2>
      <p>A preview of the post will go here, and will eventually be cut off.  It will run for several lines and it will automatically concatenate at the end.  You will be able to click on the title or a 'view more' button to read further.</p>
    </div>
    <div class="recent-post">
      <h2><a href="#">Post Title Goes Here</a></h2>
      <p>A preview of the post will go here, and will eventually be cut off.  It will run for several lines and it will automatically concatenate at the end.  You will be able to click on the title or a 'view more' button to read further.</p>
    </div>
  </div> -->
  <div class="footer">
    <p>Copyright 2015 &copy; Michael Felz PC</p>
  </div>
</body>
</html>